includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:

    paths:
        - wordpress-publish.php
        - src
    
    excludePaths:
        - src/views

    level: 9

    ignoreErrors:
        - identifier: missingType.iterableValue