includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    checkMissingIterableValueType: false

    paths:
        - src
    
    excludePaths:
        - src/views

    level: 9