includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    checkMissingIterableValueType: false

    paths:
        - wordpress-publish.php
        - src
    
    excludePaths:
        - src/views

    level: 9